.user-avatar{
    background-size: cover;
    background-position: center center;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    float: left;
}
li{
    list-style: none;
}
.login{
    line-height: 35px;
}
ul{
    padding: 10px;
    margin: 10px;
}
.info{
    width: 250px;
    cursor: pointer;
}
.form-group{
    width: 250px;
}
.list-group{
    /* float: left; */
    position: relative;
}
.load-more{
    margin-top: 15px; 
}